/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
   
    --clr-primary-700:hsl(158, 36%, 37%);
    --clr-primary-100:hsl(30, 38%, 92%);

    --clr-neutral-300:hsl(228, 12%, 48%);
    --clr-neutral-500:hsl(0, 0%, 100%);
    --clr-neutral-700:hsl(212, 21%, 14%);

    --ff-primary:'Montserrat', sans-serif;
    --ff-accent:'Fraunces', serif;
}

*,
*::before,
*::after{box-sizing: border-box;}

body,
h1,
h2,
h3,
p{margin:0;}

body{
    background-color: var(--clr-primary-100);
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2;
    color:var(--clr-neutral-300);
}

h1{
    font-family: var(--ff-accent);
    font-weight: 700;
    line-height: 1;
    color: var(--clr-neutral-700);
    font-size: 2.5rem;
}

main{
    margin-inline: auto;
    width: 80%;
    width: 380px;
    display:flex;
    flex-direction: column;
    padding:5em 0;
}

.primary-content{
    padding:2em 0 0;
    width:100%;
    height:50vh;
    background-image: url(img/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1em 1em 0 0;
}

.secondary-content{
    padding:0 2em 2em;
    background-color: var(--clr-neutral-500);
    border-radius: 0 0 1em 1em;
}

.text-content{
    letter-spacing: 0.1em;
}

.secondary--narrow{
    max-width:80%;
}

.secondary--narrow,
.text-content,
.price,
.button
{
    margin-bottom: 1.5em;
}

.secondary--text{
    padding:2em 0 1em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.price{
    display: flex;
    width:60%;
 
    align-items: center;
}

.sale-price{
    font-size: 2.5rem;
    color:var(--clr-primary-700);
    font-family: var(--ff-accent);
    margin-right:1em;
}

.regular-price{
    text-decoration: line-through;
}

button{
    width:100%;
    padding:1em;
    background-color: var(--clr-primary-700);
    border-radius: 0.5em;
    display:flex;
    justify-content: center;
    color:#fff;
    border:none;
    font-size:1rem;
    letter-spacing: 0.1em;
    font-weight:700;
    
}

button:hover{
 background-color: var(--clr-neutral-700);   
}
button img{
    display:block;
    margin-right: 1em;
}

@media (min-width:800px) {
    main{
        width:50%;
        max-width: 1440px;
        display:flex;
        flex-direction: row;
    }
    
    main > section{
        flex-basis: 100%;
    }
    
    .primary-content {
        height:auto;
        border-radius:1em 0 0 1em;
    }
 
    .secondary-content{
        border-radius: 0 1em 1em 0;
        padding:2em;
    }

    .secondary--title{
        width:78%;
        padding:1rem 0;
    }

    .text-content{
        width:90%;
        font-size: 0.875rem;
    }
}
